:root {
    --primary-color: #1d5888;
    --secondary-color: #ff993b;
    --dark-color: #292929;
    --white-color: #e7e7e7;
    --navbar--color: #37648a
}

body {
    color: var(--dark-color);
}

.logo {
    max-height: 10%;
}

nav {
    background-color: var(--navbar--color);
}

footer {
    background-color: var(--navbar--color);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--primary-color);
}
#content{
    min-height: 90vh;
}

footer{
    padding-right: 1rem;
}

footer .social>a{
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover{
    opacity: 0.9;
    color: var(--secondary-color);
}

.bsicon{
    color:purple;
}

.jsicon{
    color:rgb(226,211,4);
}

.html5icon{
    color:orangered;
}

.css3icon{
    color: rgb(11,82,214);
}

.checklist >li i{
    color: var(--secondary-color);
}

code[class*="language-"],
        pre[class*="language-"] {            
            white-space: pre-wrap;            
            word-break: break-all;
            word-wrap: break-word;                            
        }

main>.container {
    padding: 60px 15px 0;
}

.Fizz{
    color:rgb(10, 122, 0);
    font-weight: bold;
    
}   

.Buzz{
    color:rgb(2, 141, 141);
    font-weight: bold;
}

.FizzBuzz{
    color:red;
   font-weight: bold;
}